In [171]:
import json
import datetime
from IPython.display import display, HTML
import pandas as pd
from pandas.io.json import json_normalize

file = open('./Backup_2018-08-08_20-16-53.pctb','r')
data = json.loads(file.read())
df_pomodoros = json_normalize(data['pomodoros'])
df_work_units = json_normalize(data['workUnits'])
df_projects = json_normalize(data['projects'])

# Date

In [172]:
date = datetime.datetime.fromtimestamp(20)
# %d is the day number
# %m is the month number
# %b is the month abbreviation
# %y is the year last two digits
# %Y is the all year

# Pomodoros

In [193]:
def print_hour(timestamp):
    date = datetime.datetime.fromtimestamp(timestamp)
    return date.strftime("%H:%M")

def print_minutes(timestamp):
    return datetime.datetime.fromtimestamp(timestamp).strftime("%M")



# ['_d', '_dt', '_f', '_id', '_m', '_msc', '_r', '_t', '_ty']
df_pomodoros = json_normalize(data['pomodoros'])
df_pomodoros['_t'] = df_pomodoros['_t'].apply(lambda x: print_hour(x))
df_pomodoros['_d'] = df_pomodoros['_d'].apply(lambda x: print_minutes(x))
df_pomodoros['_m'] = df_pomodoros['_m'].apply(lambda x: print_minutes(x))
df_pomodoros.rename(columns={'_t':'Time', '_d':'Duration', '_dt': 'Date', '_id': 'id'}, inplace=True)
df_pomodoros

     Duration        Date     _f    id  _m _msc  _r   Time  _ty
0          25  2017/06/30   2048     1  16        1  16:42    0
1          25  2017/06/30   2048     2  17        1  17:56    0
2          25  2017/06/30   2048     3  18        1  18:23    0
3          25  2017/06/30   2048     4  19        1  19:31    0
4          25  2017/06/30   2048     5  20        1  20:07    0
5          25  2017/06/30   2048     6  21        1  21:18    0
6          25  2017/07/04  16384     7  11        1  11:29    0
7          25  2017/07/04  16384     8  12        1  12:00    0
8          25  2017/07/04  16384     9  12        1  12:49    0
9          25  2017/07/04  16384    10  13        1  13:27    0
10         25  2017/07/04  16384    11  21        1  21:57    0
11         25  2017/07/04  16640    12  23        1  23:18    0
12         25  2017/07/05   8192    13  15        1  15:18    0
13         25  2017/07/05   8192    14  16        1  16:51    0
14         25  2017/07/05   8192    15  18        1  18:59    0
15         25  2017/07/05   8192    16  19        1  19:33    0
16         25  2017/07/05   8192    17  21        1  21:54    0
17         25  2017/07/05   8192    18  22        1  22:20    0
18         25  2017/07/06   4096    19  09        1  09:53    0
19         25  2017/07/06   4096    20  10        1  10:52    0
20         25  2017/07/06   4096    21  11        1  11:43    0
21         25  2017/07/06   4096    22  12        1  12:41    0
22         25  2017/07/06   4096    23  13        1  13:24    0
23         25  2017/07/06   4096    24  14        1  14:09    0
24         25  2017/07/06   4096    25  14        1  14:47    0
25         25  2017/07/06   4096    26  15        1  15:30    0
26         25  2017/07/06   4096    27  17        1  17:49    0
27         25  2017/07/06   4096    28  20        1  20:02    0
28         25  2017/07/06   4096    29  20        1  20:35    0
29         25  2017/07/07   2048    30  17        1  17:45    0
...       ...         ...    ...   ...  ..  ...  ..    ...  ...
1640       50  2018/07/29    512  1641  10  NaN   1  10:45    0
1641       50  2018/07/29    512  1642  12  NaN   1  12:47    0
1642       50  2018/07/29    512  1643  13  NaN   1  13:46    0
1643       50  2018/07/30  32768  1644  07  NaN   1  07:25    0
1644       50  2018/07/30  32768  1645  09  NaN   1  09:12    0
1645       50  2018/07/30  32768  1646  11  NaN   1  11:44    0
1646       50  2018/07/30  32768  1647  13  NaN   1  13:13    0
1647       50  2018/07/30  32768  1648  15  NaN   1  15:32    0
1648       50  2018/07/30  32768  1649  17  NaN   1  17:22    0
1649       50  2018/07/31  16384  1650  13  NaN   1  13:15    0
1650       50  2018/08/01   8192  1651  09  NaN   1  09:25    0
1651       50  2018/08/01   8192  1652  11  NaN   1  11:05    0
1652       50  2018/08/01   8192  1653  18  NaN   1  18:26    0
1653       50  2018/08/01   8192  1654  19  NaN   1  19:50    0
1654       50  2018/08/01   8192  1655  20  NaN   1  20:53    0
1655       25  2018/08/01   8192  1656  22  NaN   1  22:04    0
1656       50  2018/08/02   4096  1657  11  NaN   1  11:19    0
1657       50  2018/08/02   4096  1658  12  NaN   1  12:40    0
1658       50  2018/08/02   4096  1659  13  NaN   1  13:59    0
1659       25  2018/08/02   4096  1660  18  NaN   1  18:28    0
1660       50  2018/08/02   4096  1661  19  NaN   1  19:11    0
1661       50  2018/08/03   2048  1662  15  NaN   1  15:06    0
1662       50  2018/08/03   2048  1663  19  NaN   1  19:18    0
1663       50  2018/08/03   2048  1664  20  NaN   1  20:13    0
1664       25  2018/08/03   2048  1665  22  NaN   1  22:43    0
1665       50  2018/08/05    512  1666  12  NaN   1  12:39    0
1666       50  2018/08/06  32768  1667  17  NaN   1  17:53    0
1667       50  2018/08/06  32768  1668  18  NaN   1  18:43    0
1668       50  2018/08/06  32768  1669  19  NaN   1  19:33    0
1669       50  2018/08/06  32768  1670  20  NaN   1  20:23    0

[1670 rows x 9 columns]